/* 
  Custom CSS for Hypixel Creative dubtrack room.
  Join us at https://www.dubtrack.fm/join/hypixel-creative.
  Made by @iFailAgain
*/


/* Staff Colors */

/** Admin **/
#chat .chat-main .isOwner .username,
#chat .chat-main .isOwner .username:hover,
#chat .chat-main .isOwner .username:visited,
#chat .chat-main .isCo-owner .username,
#chat .chat-main .isCo-owner .username:hover,
#chat .chat-main .isCo-owner .username:visited
{
    color: #FF5555 !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.creator p.username,
#main_avatar_room #main-user-list-room #avatar-list li.creator p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username:after
{
    color: #FF5555 !important;
}


/** Manager **/
#chat .chat-main .isManager .username,
#chat .chat-main .isManager .username:hover,
#chat .chat-main .isManager .username:visited
{
    color: #00B700 !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.manager p.username,
#main_avatar_room #main-user-list-room #avatar-list li.manager p.username:after
{
    color: #00B700 !important;
}


/** Mod **/
#chat .chat-main .isMod .username,
#chat .chat-main .isMod .username:hover,
#chat .chat-main .isMod .username:visited
{
    color: #00cb00 !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.mod p.username,
#main_avatar_room #main-user-list-room #avatar-list li.mod p.username:after
{
    color: #00cb00 !important;
}


/** VIP **/
#chat .chat-main .isVip .username,
#chat .chat-main .isVip .username:hover,
#chat .chat-main .isVip .username:visited
{
    color: #FFAA00 !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.vip p.username,
#main_avatar_room #main-user-list-room #avatar-list li.vip p.username:after
{
    color: #FFAA00 !important;
}


/** ResDJ **/
#chat .chat-main .isResident-dj .username,
#chat .chat-main .isResident-dj .username:hover,
#chat .chat-main .isResident-dj .username:visited
{
    color: #459FFF !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username:after
{
    color: #459FFF !important;
}



/* Badges */

/** Admins **/
#chat .chat-main .isOwner .username::before
{
    content:       url(https://cloud.githubusercontent.com/assets/12417294/12204984/0aba8bc0-b638-11e5-9c01-25bbf821509a.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}
#chat .chat-main .isCo-owner .username::before
{
    content:       url(https://cloud.githubusercontent.com/assets/12417294/12204984/0aba8bc0-b638-11e5-9c01-25bbf821509a.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}
/** Manager **/
/** Mod **/
