/* 
  Custom CSS for Hypixel Creative dubtrack room.
  Join us at https://www.dubtrack.fm/join/hypixel-creative.
  Made by @iFailAgain
*/


/* Staff Colors */

/** Admin **/
#chat .chat-main .isOwner .username,
#chat .chat-main .isOwner .username:hover,
#chat .chat-main .isOwner .username:visited,
#chat .chat-main .isCo-owner .username,
#chat .chat-main .isCo-owner .username:hover,
#chat .chat-main .isCo-owner .username:visited
{
    color: #FF5555 !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.creator p.username,
#main_avatar_room #main-user-list-room #avatar-list li.creator p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username:after
{
    color: #FF5555 !important;
}


/** Manager **/
#chat .chat-main .isManager .username,
#chat .chat-main .isManager .username:hover,
#chat .chat-main .isManager .username:visited
{
    color: #00B700 !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.manager p.username,
#main_avatar_room #main-user-list-room #avatar-list li.manager p.username:after
{
    color: #00B700 !important;
}


/** Mod **/
#chat .chat-main .isMod .username,
#chat .chat-main .isMod .username:hover,
#chat .chat-main .isMod .username:visited
{
    color: #00cb00 !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.mod p.username,
#main_avatar_room #main-user-list-room #avatar-list li.mod p.username:after
{
    color: #00cb00 !important;
}


/** VIP **/
#chat .chat-main .isVip .username,
#chat .chat-main .isVip .username:hover,
#chat .chat-main .isVip .username:visited
{
    color: #55FF55 !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.vip p.username,
#main_avatar_room #main-user-list-room #avatar-list li.vip p.username:after
{
    color: #55FF55 !important;
}


/** ResDJ **/
#chat .chat-main .isResident-dj .username,
#chat .chat-main .isResident-dj .username:hover,
#chat .chat-main .isResident-dj .username:visited
{
    color: #459FFF !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username:after
{
    color: #459FFF !important;
}


/* Staff Badges */

/** Admins **/
#chat .chat-main .isOwner .username::before
{
    content:       url(https://cloud.githubusercontent.com/assets/12417294/12205025/5f08c052-b638-11e5-9219-78e8f083f611.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}
#chat .chat-main .isCo-owner .username::before
{
    content:       url(https://cloud.githubusercontent.com/assets/12417294/12205025/5f08c052-b638-11e5-9219-78e8f083f611.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

/** Manager **/
#chat .chat-main .isManager .username::before
{
    content:       url(https://cloud.githubusercontent.com/assets/12417294/12205027/60674432-b638-11e5-9d9d-c352bd29fd47.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

/** Mod **/
#chat .chat-main .isMod .username::before
{
    content:       url(https://cloud.githubusercontent.com/assets/12417294/12205029/62dc1710-b638-11e5-977c-1eac69dea087.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}


/* Varia */

/** Mentions **/
#chat .chat-container ul.chat-main li .activity-row .text span.username-handle[style="color: rgba(255, 0, 255, 0.8);"] 
{
    color: #FFDD6F !important;
}
